@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,700);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

.container{
	max-width: 90%;
	margin: 0 auto;
}

/* HEADER
________________________________________________________________________________________*/

body{
	padding-top: 8.1%;
}

.fixed{
	left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
    background-color:#fff;
    top: 0;
    opacity: 0.9;
}

header{
	margin: 4.4% 0;
	height: 51px;
}

.logo img{
	float: left;
	margin-right: 2%;
}

.logo .after_text{
	font: 2.5em 'Bree Serif', serif;
	text-transform: uppercase;
	color: #3a494c;
	margin: -4px 0 0 0;
}

.menu ul{
	text-align: justify;
	display: table;
	float: right;
	margin-top: -1px;
}

.menu li{
	display: table-cell;
	float: left;
}

.menu li a{
	font: 700 1.125em 'Ubuntu', sans-serif;
	text-transform: capitalize;
	color: #3a494c;
	padding: 15px;
	display: block;
}

.menu li a:hover{
	background: #3a494c;
	color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu nav a#pull {  
    display: none;
}

@media screen and (max-width:767px){
	.menu nav{
        border-bottom: 0;
    }
    .menu nav ul{
        display: none;
        height: auto;
        background-color: #283744;
        float: none;
    }
    .menu nav a#pull{
        display: block;
        width: 100%;
        position: relative;
        
        text-align: right;
        float: right;
        font: 700 1.125em 'Ubuntu', sans-serif;
        color: #3a494c;
    }
    .menu nav a#pull:after{
        content:"";
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        rightright: 15px;
        top: 10px;
    }
}

@media screen and (max-width:500px){
	.logo .after_text{
		font: 1.8em 'Bree Serif', serif;
	}
	.menu li a{
		font: 700 0.75em 'Ubuntu', sans-serif;
	}
}

@media screen and (max-width:320px){
    .menu nav li{
        display: block;
        float: none;
        width: 100%;
    }
    .menu nav li a{
        color: #ffffff;
    }
}


/* slider
__________*/

.slider {
    margin-bottom: 1.85%;
}

.slider .bxslider img{
	width: 100%;
}

.slider section h2{
	font: 4em/1em 'Bree Serif', serif;
	color: #ffffff;
	width: 51%;
}

.slider .bx-viewport .after_container{
	position: absolute;
	top:0;
	width: 1170px;
	margin-top: 4.3%;
}

.slider .bx-viewport li{
	max-height: 515px;
}

.slider .bx-viewport p{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	width: 73.17%;
	text-align: justify;
	color: #ffffff;
	padding: 1.9% 0 3%;
}

.slider .bx-viewport a{
	font: 1.25em 'Bree Serif', serif;
	color: #3a494c;
	text-transform: uppercase;
	background: #ffffff;
	padding:6px 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.slider .bx-viewport a:hover{
	background: #3a494c;
	color: #ffffff;
}

.slider .bx-wrapper .bx-pager {
	text-align: center;
}

.slider .bx-wrapper .bx-pager .bx-pager-item{
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.slider .bx-wrapper .bx-pager .bx-pager-item a {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 3px;
	outline: 0;
	border:3px solid #fff;
}

.slider .bx-wrapper .bx-pager .bx-pager-item a:hover,
.slider .bx-wrapper .bx-pager .bx-pager-item a.active {
	background: #fff;
}

.bx-controls{
	margin-top: -3%;
    position: relative;
    z-index: 55;
}

@media screen and (max-width:1550px){
	.bx-controls{
		margin-top: -50px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 12px;
		height: 12px;
	}
	.slider .bx-viewport p{
		font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
		width: 63.17%;
	}
}

@media screen and (max-width:1450px){
	.bx-controls{
		margin-top: -40px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 11px;
		height: 11px;
	}
}


@media screen and (max-width:1300px){
	.bx-controls{
		margin-top: -30px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 10px;
		height: 10px;
	}
	.slider .bx-viewport p{
		padding: 0.4% 0 1%;
	}
}

@media screen and (max-width:1250px){
	body{
		padding-top: 11.1%;
	}
	.bx-controls{
		margin-top: -30px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 10px;
		height: 10px;
	}
	.slider section h2{
		font: 3em/1em 'Bree Serif', serif;
		color: #ffffff;
		width: 41%;
		margin-bottom: 20px;
	}
	.slider .bx-viewport .after_container{
		margin-top: 2.3%;
	}
}

@media screen and (max-width:1000px){
	body{
		padding-top: 14.5%;
	}
	.bx-controls{
		margin-top: -30px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 10px;
		height: 10px;
	}
	.slider .bx-viewport p{
		display: none;
	}
	.slider section h2{
		width: 35%;
		margin-top: 3.5%;
		font: 2em/1em 'Bree Serif', serif;
	}
}

@media screen and (max-width:700px){
	body{
		padding-top: 17%;
	}
	.bx-controls{
		margin-top: -30px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 9px;
		height: 9px;
	}
	.slider section h2{
		font: 1.5em/1em 'Bree Serif', serif;
		color: #ffffff;
		width: 25%;
		margin-bottom: 10px;
		margin-top: 3.5%;
	}
	.slider .bx-viewport a{
		font: 0.85em 'Bree Serif', serif;
		padding:4px 10px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
	}
}

@media screen and (max-width:500px){
	body{
		padding-top: 22%;
	}
	.bx-controls{
		margin-top: -20px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 7px;
		height: 7px;
	}
	.slider section h2{
		font: 1.2em/1em 'Bree Serif', serif;
		color: #ffffff;
		width: 25%;
		margin-bottom: 10px;
		margin-top: 1.5%;
	}
}

@media screen and (max-width:351px){
	body{
		padding-top: 30%;
	}
	.bx-controls{
		margin-top: -18px;
	}
	.slider .bx-wrapper .bx-pager .bx-pager-item a {
		width: 5px;
		height: 5px;
	}
	.slider section h2{
		font: 1em/1em 'Bree Serif', serif;
		color: #ffffff;
		width: 25%;
		margin-bottom: 10px;
		margin-top: 1%;
	}
	.slider .bx-viewport a{
		font: 0.55em 'Bree Serif', serif;
		padding:3px 10px;
	}
}

/* MAIN
________________________________________________________________________________________*/

.services{
	text-align: center;
	padding:4.1% 0 5.7%;
}

.container-fluid .row .serv_img{
    height: 192px;
}

.services .serv h2{
	color:#3a494c;
	font: 1.5em 'Bree Serif', serif;
	padding: 5% 0 4.2%;
}

.services .serv p{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #666666;
	width: 90%;
	margin: 0 auto;
}

/* portfolio
__________*/

.portfolio{
	background: #9ad5a6;
	padding-bottom: 6.2%;
}

.portfolio h2{
	color:#feffff;
	text-align: center;
	font: 3.75em/1.31em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4% 0 0;
}

.portfolio p{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #ffffff;
	text-align: center;
	width: 48.71%;
	margin: 0 auto;
}

.portfolio .menu_portfolio{
	text-align: center;
	padding: 4.7% 0 4.8%;
}

.portfolio .menu_portfolio li{
	display: inline;
}

.portfolio .menu_portfolio a{
	font: 1.25em 'Bree Serif', serif;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0.5% 1.31%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.portfolio .menu_portfolio a:hover{
	color: #3a494c;
	background: #ffffff;
}

.portfolio .load_more{
	text-align: center;
	clear: both;
	padding-top: 0.9%;
}

.portfolio .load_more span{
	color: #3a494c;
	background: #ffffff;
	font: 1.25em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 0.6% 1.31%;
	cursor: pointer;
	word-wrap: break-word;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.portfolio .load_more span:hover{
	background: #3a494c;
	color: #ffffff;
}

.portfolio .lightbox{
	margin: 0.1709401709401709% -1.623931623931624%;
}

.portfolio .lightbox a{
	display: block;
	height: 100%;
}

.portfolio .lightbox img {
    position: relative;
    z-index: -1;
}

.portfolio .lightbox a:hover{
	background: url("images/portfolio_h.png") no-repeat scroll 50% 50%;
	-webkit-box-shadow: 10px 8px 54px #000 inset;
	-moz-box-shadow: 10px 8px 54px #000 inset;
	box-shadow: 10px 8px 54px #000 inset;
}

.portfolio .lightbox li{
	margin: 0 1.66% 3.9%;
	width: 30%;
	float: left;
	display: none;
	position: relative;
	z-index: 1;
	height: 271px;
}

#lightbox-container-image-box{
	width:100% !important;
	height: 100% !important;
	background: none !important;
}

#lightbox-nav,
#lightbox-image-details{
	display:none !important;
}

#lightbox-secNav-btnClose{
	float: none !important;
}

#lightbox-container-image-data-box{
	max-width: 1170px;
    width:100% !important;
    background: none !important;
}

@media screen and (max-width:1200px) {
	.portfolio .lightbox li {
	    height: 218px;
	}
	.portfolio .lightbox{
		margin: 0;
	}
	.portfolio .lightbox a{
		height: 97%;
	}
}

@media screen and (max-width:980px) {
	.portfolio .lightbox li {
	    height: 174px;
	}
	.portfolio .lightbox a{
		height: 97%;
	}
}

@media screen and (max-width:780px) {
	.portfolio .lightbox li {
	    height: 276px;
    	width: 48%;
    	margin: 0 27.66% 3.9%;
	}
	.portfolio .lightbox a{
		height: 97%;
	}
	.portfolio h2{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.portfolio p{
		width: 100%;
	}
}

@media screen and (max-width:775px) {
	.portfolio .lightbox li {
    	width: 85%;
    	margin: 0 10.66% 3.9%;
	}
}

@media screen and (max-width:479px) {
	.portfolio .lightbox li {
	    height: 177px;
    	margin: 0 8.66% 3.9%;
	}
}




/* features
__________*/

.features{
	padding-bottom:5.8%;
}

.features h2{
	color:#3a494c;
	text-align: center;
	font: 3.75em/1.31em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 3.79% 0 0;
}

.features p{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #666666;
	text-align: center;
	width: 48.71%;
	margin: 0 auto;
}

.features .blocks{
	margin-top: 4.3%;
	width: 48%;
}

.features .blocks_ul{
	width: 47%;
}

.features .blocks1{
	margin-right: 3.5%;
}

.features .blocks1_ul{
	margin-right: 6%;
}

.features .block{
	overflow: hidden;
}

.features .block img{
	float: left;
	margin-right: 5%;
    width: 31%;
}

.features .block h3{
	color: #3a494c;
	font: 1.5em/1.15em 'Bree Serif', serif;
	margin-bottom: 3.5%;
}

.features .block p{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666666;
	text-align: left;
	width:64%;
	margin: 0px;
	float: right;
}

.features .blocks p a{
	color: #036b7e;
	text-decoration: underline;
}

.features .blocks li a:before{
	content:"";
	background: url("images/features-before.png") no-repeat scroll 0 50%;
	height: 9px;
    position: absolute;
    left: 0px;
    top: 2px;
    width: 5px;
}

.features .blocks ul{
	margin-top: 13.9%;
}

.features .blocks li a{
	color:#666666;
	font: 300 0.875em/1.699em 'Ubuntu', sans-serif;
	position: relative;
	padding-left: 10px;
}

.features .blocks li a:hover{
	color:#036b7e;
	left: 3px;
}


@media screen and (max-width:767px) {
	.features p{
		width: 100%;
	}
	.features h2{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.features .blocks{
		margin-top: 0;
		width: 100%;
	}
	.features .blocks_ul{
		width: 100%;
	}
	.features .blocks ul{
		margin-top: 0;
	}
	.features .block{
		margin-top: 4%;
	}
}

@media screen and (max-width:479px) {
	.features .block img{
		display: none;
	}
	.features .block p{
		width:100%;
		margin: 0px;
		margin-bottom: 3%;
	}
	.features .blocks_ul{
		margin-top: 1%;
	}
	
	.features .blocks{
		margin-bottom: 10%;
	}
}


/* advantages
__________*/

.advantages{
	background: url("images/advantages-back.jpg") repeat scroll 0 0;
	padding-bottom: 3.5%;
}

.advantages h2.top{
	color:#ffffff;
	text-align: center;
	font: 3.75em/1.31em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.advantages p.top{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #ffffff;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 4.15%;
}

.advantages span{
	display: block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	height: 90px;
	width: 90px;
	color: #666666;
	font: 3.75em/1.31em 'Bree Serif', serif;
	text-indent:26px;
	margin: 0 auto 5.2%;
}

.advantages h3{
	color:#ffffff;
	text-align: center;
	font: 1.5em 'Bree Serif', serif;
}

.advantages .row p{
	width: 90%;
	text-align: center;
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #ffffff;
	margin:5.2% auto 15%;
}

@media screen and (max-width:767px) {
	.advantages p.top{
		width: 100%;
	}
	.advantages h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
}

/* full-team
__________*/

.full-team h2.top{
	color:#3a494c;
	text-align: center;
	font: 3.75em/1.28em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.full-team .row{
	margin-top: 4.2%;
	margin-bottom: 9.4%;
}

.full-team .team{
	text-align: center;
	overflow: hidden;
}

.full-team p.top{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #666666;
	text-align: center;
	width: 48.71%;
	margin: 0 auto;
}

.full-team .team h3{
	font: 1.5em 'Bree Serif', serif;
	color: #3a494c;
	text-align: center;
	margin: 6.8% auto 4%;
}

.full-team .team p{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #666666;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.team .social a img{
	margin-top: 21%;
}

.team .social{
	text-align: center;
	margin-top: 9.7%;
	margin-left: 28.5%;
}

.team .social a{
	background: #036b7e;
	height: 49px;
	width: 49px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	float: left;
	opacity: 0.4;
	margin-right: 4%;
}

.team .social a:hover{
	opacity: 1;
}

@media screen and (max-width:940px) {
	.team .social {
	    margin-left: 21.5%;
	}
}

@media screen and (max-width:767px) {
	.full-team p.top{
		width: 100%;
	}
	.full-team h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.full-team img{
		max-width: 40%;
	}
	.full-team .team p{
		width: 100%;
	}
	.team .social {
	    margin-left: 29.5%;
	    margin-bottom: 10%;
	}
}

@media screen and (max-width:479px) {
	.team .social {
	    margin-left: 21.5%;
	}
}

/* carousel
__________*/


.carousel{
	background: #035a6a;
}

.carousel h2.top{
	color:#ffffff;
	text-align: center;
	font: 3.75em/1.28em "Bree Serif",serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.carousel p.top{
	font: 300 0.875em/1.65em 'Ubuntu', sans-serif;
	color: #ffffff;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 3.9%;
}

.carousel .item{
	width: 770px;
	margin: 0 auto;
}

.carousel .item h3{
	color:#ffffff;
	font: 1.5em 'Bree Serif', serif;
}

.carousel .item h3 span{
	color:#ffffff;
	font: 1em 'Bree Serif', serif;
}

.carousel .item p{
	font: 300 0.875em/1.65em 'Ubuntu', sans-serif;
	color: #ffffff;
	margin-right: 4.5%;
    margin-top: 2.3%;
    width: 65%;
    float: right;
}

.carousel .item .item_img{
	float: left;
	height: 170px;
	width: 170px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background:#fff;
	text-indent: 26px;
	overflow: hidden;
	margin-right: 4%;
}

.carousel .item_img > img {
    margin-top: 12%;
}

.carousel .owl-carousel{
	margin-bottom: 8.8%;
}

.carousel .owl-theme .owl-controls {
    margin-top: 1.1%;
    text-align: center;
}

.carousel .owl-theme .owl-controls .owl-page span {
    background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    display: block;
    height: 12px;
    width: 12px;
    border:2px solid #fbbe67;
    margin: 4px 3px;
}

.carousel .owl-theme .owl-controls .owl-page.active span,
.carousel .owl-theme .owl-controls .clickable .owl-page:hover span {
    background: #fbbe67 none repeat scroll 0 0;
}

.carousel .owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.carousel .fa-quote-left{
	margin: -1.8% 1% 0 -6.6%;
}

.carousel .fa-quote-right{
    margin: 1.4% 0 0 3.5%;
}

@media screen and (max-width:767px) {
	.carousel p.top{
		width: 100%;
	}
	.carousel h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.carousel .item .item_img{
		display: none;
	}
	.carousel .item p i{
		display: none;
	}
	.carousel .item p{
		width: 50%;
		margin: 0;
		float: none;
	}
}


/* works
__________*/

.works .row{
	margin-bottom:-17.9%;
	overflow: hidden;
}

.works h2.top{
	color:#3a494c;
	text-align: center;
	font: 3.75em/1.28em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.works p.top{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666666;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 4.1%;
}

.works .video-works {
	position: relative;
	padding-bottom: 56.1%;
	height: auto;
	overflow:hidden;
}

.works .video-works iframe,
.works .video-works object,
.works .video-works embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height:340px;
	max-width:98%;
}

.works .row h3{
	color:#3a494c;
	font: 1.5em/1.27em 'Myriad Pro', serif;
	padding-left: 3%;
}

.works .row br{
	margin-bottom:4.5%;
}

.works .row p{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666666;
	margin-top:2.7%;
	padding-left: 3%;
}

@media screen and (max-width:941px) {
	.works .row{
		margin-bottom:5%;
	}
}

@media screen and (max-width:767px) {
	.works p.top{
		width: 100%;
	}
	.works h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.works .row{
		margin-bottom:5%;
	}
}


/* properties
__________*/

.properties{
	background: url("images/properties-back.jpg") repeat scroll 0 0;
	padding-bottom: 3.3%;
	position: relative;
    z-index: 9;
}

.properties h2.top{
	color:#3a494c;
	text-align: center;
	font: 3.75em/1.28em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.properties p.top{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666;
	text-align: center;
	width: 48.71%;
	margin: 0 auto;
}

.properties .row{
	margin:4.3% 0 3.5%;
}

.properties .row .grid_3{
	text-align: center;
}

.properties #diagram-id-1,
.properties #diagram-id-2,
.properties #diagram-id-3,
.properties #diagram-id-4{
	color:#3a494c;
	text-align: center;
	font: 2.25em/1.0em 'Bree Serif', serif;
	margin-left:21%;
}

.properties h4{
	font: 1.5em 'Bree Serif', serif;
	color:#3a494c;
	text-align: center;
	margin-top:6.4%;
}

@media screen and (max-width:767px) {
	.properties p.top{
		width: 100%;
	}
	.properties h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.properties #diagram-id-1,
	.properties #diagram-id-2,
	.properties #diagram-id-3,
	.properties #diagram-id-4{
		margin-left:31%;
	}
}

@media screen and (max-width:479px) {
	.properties #diagram-id-1,
	.properties #diagram-id-2,
	.properties #diagram-id-3,
	.properties #diagram-id-4{
		margin-left:18%;
	}
}


/* faq
__________*/

.faq{
	margin-bottom:3.8%;
}

.faq h2.top{
	color:#3a494c;
	text-align: center;
	font: 3.75em/1.28em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.2% 0 0;
}

.faq p.top{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 4.1%;
}

.faq h4{
	color:#3a494c;
	text-align: left;
	font: 1.5em/1.25em 'Bree Serif', serif;
	height:60px;
	overflow: hidden;
	position: relative;
	padding-right:17%;
	margin-bottom:9.78%;
}

.faq .hide:before{
	content:"+";
	background: #666666;
	height: 37px;
    position: absolute;
    right: 18px;
    top: 2px;
    width: 40px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color:#fff;
	margin-top:8px;
	cursor: pointer;
	padding-top: 0.9%;
}

.faq .connew{
	margin-top:-9.78%;
}

.faq .open:before{
	content:"-";
	background: #036b7e;
	height: 37px;
    position: absolute;
    right: 18px;
    top: 2px;
    width: 40px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color:#fff;
	margin-top:8px;
	cursor: pointer;
	padding-top: 0.9%;
}

.faq .content p{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666;
	padding-bottom: 10%;
    padding-top: 4.1%;
}

@media screen and (max-width:767px) {
	.faq p.top{
		width: 100%;
	}
	.faq h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
}

@media screen and (max-width:479px) {
	.faq h4{
		font: 1.2em/1.5em "Bree Serif",serif;
		padding-right:25%;
	}
}

/* blog
__________*/

.blog{
	background: url("images/blog-back.jpg") repeat scroll 0 0;
	padding-bottom:5.6%;
}

.blog h2.top{
	color:#fff;
	text-align: center;
	font: 3.75em/1.28em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4% 0 0;
}

.blog p.top{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #fff;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 4.1%;
}

.blog article:first-child {
    margin-left: 0;
}

.blog article{
    float: left;
    margin-left: 2.6%;
    overflow: hidden;
    width: 29%;
	background:#fff;
	padding:1.1% 1.3% 3.9%;
}

.blog article time{
	font: 1.5em/1.31em 'Bree Serif', serif;
	color: #3a494c;
	text-align: center;
	background:#fff;
	display: block;
	margin: 4.7% 4% 0;
	position: relative;
}

.blog article img{
	margin-top:-12.7%;
}

.blog article h3{
	font: 1.5em/1.35em 'Bree Serif', serif;
	color: #3a494c;
	text-align: left;
	padding: 7% 0 5.2%;
}

.blog article p{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #666666;
	width:96%;
}

@media screen and (max-width:767px) {
	.blog p.top{
		width: 100%;
	}
	.blog h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
	.blog article{
	    width: 100%;
	    margin-left: 0;
	    text-align: center;
	    margin-bottom: 3%;
	}
	.blog article h3{
		padding:7% 9.5% 5.2%
	}
	.blog article p{
		margin: 0 auto;
		width:92%;
	}
}

/* partners
__________*/

.partners{
	padding-bottom:2.4%;
}

.partners h2.top{
	color:#3a494c;
	text-align: center;
	font: 3.75em/1.28em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.partners p.top{
	font: 300 0.875em/1.7em 'Ubuntu', sans-serif;
	color: #666;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 4.4%;
}

.partners ul{
	text-align: center;
}

.partners li{
	display: inline-table;
	margin-left:7%;
	margin-bottom:5%;
}

.partners li a{
	opacity:0.5;
}

.partners li a:hover{
	opacity:1;
}

@media screen and (max-width:767px) {
	.partners p.top{
		width: 100%;
	}
	.partners h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
}


/* FOOTER
________________________________________________________________________________________*/


#up{	
	position:fixed;
	bottom:30px;
	right:10%;
	z-index: 99;
}

footer{
	background:#2c2c2c;
}

.contact h2.top{
	color:#fff;
	text-align: center;
	font: 3.75em/1.31em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 4.1% 0 0;
}

.contact address{
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #fff;
	text-align: center;
	width: 48.71%;
	margin: 0 auto 4.2%;
}

.contact p{
	font: 300 0.875em 'Ubuntu', sans-serif;
	color: #fff;
	text-align: center;
	margin-top: 5.5%;
    padding-bottom: 1%;
}

.contact form{
	margin:0 auto;
	width:48%;
	text-align: center;
}

.contact form input[type=text],
.contact form textarea{
	width:98%;
	font: 300 0.875em/1.6em 'Ubuntu', sans-serif;
	color: #666666;
	padding:1.7% 0.9% 1.4% 2.3%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:1.65%;
	border:none;
}

.contact form textarea{
	min-height:162px;
	resize: none;
	margin-bottom: 7.2%;
}

.contact form input[type=submit]{
	color: #3a494c;
	background: #ffffff;
	font: 1.25em 'Bree Serif', serif;
	text-transform: uppercase;
	padding: 0.9% 2.4%;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:none;
}

.contact form input[type=submit]:hover{
	background: #3a494c;
	color: #ffffff;
}

#map{
	height:340px;
}

@media screen and (max-width:767px) {
	.contact address{
		width: 100%;
	}
	.contact h2.top{
		font: 2.25em/1.31em 'Bree Serif', serif;
	}
}

@media screen and (max-width:479px) {
	.contact form{
		margin:0 auto;
		width:100%;
		text-align: center;
	}
}
